<section class="services" id="services">
    <div class="heading">
        <span>Best Movies</span>
        <h2>Coming soon<p>Explore Upcoming Movies</p> </h2>
        <div class="services-container">
            
            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie1.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb1.jpeg" alt="">
                </div>
                
                <h4>IF</h4>
                
                
            </div>
            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie2.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb2.jpeg" alt="">
                </div>
               
                <h4>Krishnamma</h4>
                
                
            </div>
            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie3.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb3.jpeg" alt="">
                </div>
               
                <h4>Srikanth</h4>
            </div>

            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie4.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb4.jpeg" alt="">
                </div>
               
                <h4>Prathinidhi 2</h4>
                
                
            </div>
            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie5.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb5.jpeg" alt="">
                </div>
                <h4>Aa Okkati Adakku</h4>
            
            </div>
            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie6.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb6.jpeg" alt="">
                </div>
                <h4>Baak</h4>
            </div>


            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie7.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb7.jpeg" alt="">
                </div>
               
                <h4>The Boy and then Heron</h4>
            </div>


            <div class="box">
                <div class="box-img">
                    <a routerLink ="//movie-booking"><img src="assets\movie8.jpeg" alt=""></a>
                </div>
                <div class="imdb">
                    <img src="assets\imdb8.jpeg" alt="">
                </div>
                <h4> The Fall Guy</h4>
                
            </div>
        </div>
    </div>
</section>