.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
    
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
    

}
.services-container .box .box-img{
    width: 100%;
    height:400px;

}
.services-container .box .imdb img{
width:100%;
height:40px;
}
.services-container .box .box-img img{
      width: 100%;
      height: 100%;
       border-radius: 1rem;
       object-fit: cover;
       object-position: center;
}

.services-container .box h4{
    font-weight: 400;
}

.services-container .box .btn:hover{
    background: var(--main-color);
}

