@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .hero-section {
    background-image: url('C:/Users/WELL/Desktop/cinemagic/CineMagic/frontEnd/CineMagic/src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    color: #f6f6f6;
    text-align: center;
    padding: 100px 0;
    height: 500px;
    width: 100%;
    font-weight: 80px;
    font-size: 30px;
  }
  
  .movie-carousel {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .movie-carousel img {
    width: auto;
    height: 400px;
  }
  .movie-carousel {
    text-align: center;
    padding: 50px 0;
  }
  .movie-section img{
    width: auto;
    height: 300px;
  }

  .movie-section {
    text-align: center;
    padding: 50px 0;
  }
  
  .movie-section h2 {
    color: #090000;
  }
  
 
  
  #latest .card {
    border: none;
    border-radius: 10px;
    color: black;
    background-color: transparent;
  
  }
  
  #latest .card h4 {
    font-size: 12px;
    text-align: left;
  }
  
  
  
  .latest_games {
  
    display: flex;
    justify-content: center;
  }
  
  
  footer {
    margin: 0px;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  footer h1 {
    font-size: 30px;
    font-weight: bold;
    color: #f6f6f6;
  }
  
  footer p {
    font-size: 13px;
  }
  
  .d1 {
    margin: 20px;
    padding: 20px;
    /* display: flex;
      justify-content: center;
      align-content: center; */
  }
  
  .f1 img {
    height: 150px;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 50px;
     
  
  }
  
  .footecont img {
    height: 10px;
  
  }
  
  .footecont {
    display: flex;
    align-content: center;
    justify-content: center;
  
  }
  
  .f1 h1 p {
    margin: 20px auto;
  }

  .carousel img{
    height: 600px;
    width: 100%;
    border: 2px ;
    margin: 50px ;
    padding: 20px;
    padding-right: 130px;
}

/* movies  */
.heading{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-color);
}
.movies-container{
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,auto));
  gap: 1rem;
  margin-top: 2rem;
}
.box .box-img{
  width: 100%;
  height: 270px;
  cursor: pointer;
}
.box .box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .box-img img:hover{
  transform: translateY(-10px);
  transition: 0.2s all linear;
}
.box h3{
  font-size: 0.9rem;
  font-weight: 500;
}
.box span{
  font-size: 14px;
}
:root{
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}
/* Home  */
/* :root{
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}
section{
  padding: 4.5rem 0 1.5rem;
}
.container{
  width: 100%;
  min-height: 640px;
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(2, 3, 7,0.5);
}
.container img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.swiper-pagination-bullet{
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background: var(--bg-color) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  width: 1.5rem !important;
  background: var(--main-color) !important;
}
.home-text{
  z-index: 1000;
  padding: 0 150px;
}
.home-text span{
  color: var(--bg-color);
  font-weight: 500;
  text-transform: uppercase;
}
.home-text h1{
  color: var(--bg-color);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.play{
  position: absolute;
  right: 4rem;
  bottom: 10%;
}
.play .bx{
  background: var(--bg-color);
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7,0.5);
  color: var(--main-color);
}
.play .bx:hover{
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
} */
