<head>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<br>
<div class="hero-section">
    <p style="background-color: red;">Explore the latest Movies and WebSeries. Find your favorites and discover new ones!</p>
    <a href="login"><button routerLink="login" style="background-color: rgb(246, 11, 11); border-radius: 10px; " >Get Started</button></a>
    
</div>
<br/>
<div class="movie-section">
    <h2>Featured Movies</h2>
    <img src="assets\c1.jpg" alt="Featured Movie 1">
    <img src="assets\c2.jpg" alt="Featured Movie 2">
    <img src="assets\c9.png" alt="Featured Movie 3">
    <img src="assets\c7.jpg" alt="Featured Movie 3">    
    <img src="assets\c3.jpg" alt="Featured Movie 3">
    <img src="assets\c5.jpg" alt="Featured Movie 3">
    <img src="assets\c6.jpg" alt="Featured Movie 3">
</div>
<!-- Movies  -->
<div class="movies" id="movies">
    <h2 class="heading">Opening This Week</h2>
    <!-- Movies container  -->
    <div class="movies-container">
        <!-- box-1  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m11.jpg" alt="">
            </div>
            <h3>Dr.Strange</h3>
            <span>120 min | Action</span>
        </div>
        <!-- box-2  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m12.jpg" alt="">
            </div>
            <h3>UnderWorld Blood Wars</h3>
            <span>120 min | Action</span>
        </div>
        <!-- box-3  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m13.jpg" alt="">
            </div>
            <h3>Mortal-Engines</h3>
            <span>120 min | Action</span>
        </div>
        <!-- box-4  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m14.jpg" alt="">
            </div>
            <h3>Brahmastra</h3>
            <span>120 min | Action</span>
        </div>
        <!-- box-5  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m15.jpg" alt="">
            </div>
            <h3>Uncharted</h3>
            <span>120 min | Adventure</span>
        </div>
        <!-- box-6  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m16.jpg" alt="">
            </div>
            <h3>Black Panther</h3>
            <span>120 min | Thriller</span>
        </div>
        <!-- box-7  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m17.jpg" alt="">
            </div>
            <h3>Aquaman</h3>
            <span>120 min | Adventure</span>
        </div>
        <!-- box-8  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m18.jpg" alt="">
            </div>
            <h3>John-wick</h3>
            <span>120 min | Action</span>
        </div>
        <!-- box-9  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m19.jpg" alt="">
            </div>
            <h3>Batman vs Superman</h3>
            <span>120 min | Thriller</span>
        </div>
        <!-- box-10  -->
        <div class="box">
            <div class="box-img">
                <img src="assets\m20.jpg" alt="">
            </div>
            <h3>Pathan</h3>
            <span>120 min | Action</span>
        </div>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 " src="assets\home1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 " src="assets\wp7959238.webp" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 " src="assets\Webseries-image-15.jpg" alt="Third slide">
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="movie-carousel">
    <h2>Popular WebSeries</h2>
    <br/>
    <img src="assets\homeimg.jpg" style="width: 710px;" alt="Movie 1">
    <br/>
    <img src="assets\got.jpg" alt="Movie 1">
    <br />
</div>
<section class="popular_movies">
    <div class="main4">
        <div class="container-fluid blog py-6">
            <div class="container">
                <h3 class="mb-3" style="color: black;">Movies of the Year Collection </h3>
                <div class="row gx-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s">
                        <div class="blog-item">
                            <div class="overflow-hidden rounded">
                                <img src="assets\army-of-thieves.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-content mx-4 d-flex rounded bg-light">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.3s">
                        <div class="blog-item">
                            <div class="overflow-hidden rounded">
                                <img src="assets\avengers-4.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-content mx-4 d-flex rounded bg-light">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                        <div class="blog-item">
                            <div class="overflow-hidden rounded">
                                <img src="assets\blackwidow.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-content mx-4 d-flex rounded bg-light">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                        <div class="blog-item">
                            <div class="overflow-hidden rounded">
                                <img src="assets\super-mario.jpeg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-content mx-4 d-flex rounded bg-light">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                        <div class="blog-item">
                            <div class="overflow-hidden rounded">
                                <img src="assets\army-of-thieves.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-content mx-4 d-flex rounded bg-light">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.5s">
                        <div class="blog-item">
                            <div class="overflow-hidden rounded">
                                <img src="assets\matrix.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="blog-content mx-4 d-flex rounded bg-light">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="f1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="assets\123.jpg" alt="logo">
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h1>GET IN TOUCH</h1>
                    <p><i class="fa-solid fa-location-dot" style="color: #061a3a;"></i> Address :- DLF
                        Gachibowli,<br>
                        &nbsp; &nbsp; Hyderabad,<br>
                        &nbsp; &nbsp; T.G, India</p>
                    <p><i class="fa-solid fa-phone" style="color: #061a3a;"></i> +91 xxxxxxxx78</p>
                    <p><i class="fa-solid fa-envelope" style="color: #061a3a; "></i> cinemagic514&#64;gmail.com
                    </p>
                </div>
                <div class="col-12 col-md-0 col-lg-3">
                    <h1>ABOUT US</h1>
                    <p>About Us</p>
                    <p></p>
                    <p>Reviews</p>
                    <p>Contact Us</p>
                </div>
                <div class="col-12 col-md-0 col-lg-3">
                    <h1> GET SOCIAL</h1>
                    <p>keep up-to-date with all the latest and breaking social media news. There are lot of
                        excitingthings happening this year.</p>
                    <span>
                        <i class="fa-brands fa-twitter " style="color: #ffffff;"></i>
                        <i class="fa-brands fa-facebook " style="color: #ffffff;"></i>
                        <i class="fa-brands fa-youtube " style="color: #ffffff;"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
